<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main/header.html">
</head>
<body>
<div class="container">
    <div id="chartContainer" style="margin-top: 20px"></div>
</div>
<script>
    $("#chartContainer").highcharts({
        chart: {
            type: 'lollipop'
        },
        title: {
            text: 'Task completion'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Percentage(%)'
            }
        },
        series: [{
            name: 'Percentage',
            data: [(${taskNamePercentageMap})]
        }]
    });
</script>
</body>
</html>