<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>

    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jQuery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-bottom: 20px; margin-top: 20px">
            <div class="col-2">
                <button th:onclick="|showFormUpdate()|" class="btn btn-primary width100">Add new task</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="darkerBgColor childAlignedCenter">
                <tr>
                    <th scope="col" style="width: 10%">Task list</th>
                    <th scope="col" style="width: 20%">Name</th>
                    <th scope="col" style="width: 30%">Description</th>
                    <th scope="col" style="width: 10%">TODOs</th>
                    <th scope="col" style="width: 10%">Finished</th>
                    <th scope="col" style="width: 20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${taskList}" class="childAlignedCenter">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.description}"></td>
                    <td>
                        <button th:onclick="|showFormUpdate('${task.id}')|" class="btn btn-info width100">View</button>
                    </td>
                    <td>
                        <i class="fa fa-check" aria-hidden="true" style="color: green"></i>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <button th:onclick="|showFormUpdate('${task.id}')|" class="btn btn-primary width100">Update</button>
                            </div>
                            <div class="col-sm-6">
                                <button th:onclick="|showFormDelete('${task.id}')|" class="btn btn-danger width100">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>