<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="assignment/header.html"></head>
<body>

    <div class="container">
        <h1 style="text-align: center">Tasks lista</h1>
        <div class="row" style="margin-bottom: 20px; margin-top: 20px">
            <div class="col-2">
                <button th:onclick="|showSaveTask()|" class="btn btn-primary width100">Add new task</button>
            </div>
        </div>

        <table class="table table-bordered">
            <thead class="darkerBgColor childAlignedCenter">
                <tr>
                    <th scope="col" style="width: 10%">Task list</th>
                    <th scope="col" style="width: 20%">Name</th>
                    <th scope="col" style="width: 30%">Description</th>
                    <th scope="col" style="width: 10%">TODOs</th>
                    <th scope="col" style="width: 10%">Finished</th>
                    <th scope="col" style="width: 20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${taskList}" class="childAlignedCenter">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.description}"></td>
                    <td>
                        <a th:href = "@{/viewTodos(taskId=${task.id})}" class="btn btn-info width100"> View </a>
                    </td>
                    <td>
                        <i class="fa fa-check" aria-hidden="true" style="color: green"></i>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <button th:onclick="|showSaveTask('${task.id}')|" class="btn btn-primary width100">Update</button>
                            </div>
                            <div class="col-sm-6">
                                <button th:onclick="|showFormDelete('${task.id}')|" class="btn btn-danger width100">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:if="${message}">
            <div id="flash" class="alert alert-success" role="alert" th:text="${message}"></div>
        </div>
    </div>
    <div id="modalContainer" class="modal fade modalWidth30" role="dialog"></div>

<script>
    function showSaveTask(id) {
        $.ajax({
            url:(id === undefined) ? "/addNewTask" : "/updateTask",
            dataType: "html",
            data:{id: id},
            type:'GET',
            success: function(html){
                $("#modalContainer").html(html);
                $("#modalContainer").modal("show");
            }
        });
    }

    $(function() {
        $('#flash').delay(500).fadeIn('normal', function() {
            $(this).delay(500).fadeOut();
        });
    });
</script>

</body>



</html>