<div class="modal-dialog modal-sm fullModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-content">

        <div class="modal-header">
            <h4 th:text="${task.id} ? 'Edit ' + ${task.name} : 'Add task'"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <form th:action="@{/saveTask}" th:object="${task}" method="POST" >
                <input type="hidden" th:field="*{id}" />
                <input type="text" th:field="*{name}" class="form-control mb-4 col-12" placeholder="Name" required>
                <input type="text" th:field="*{description}" class="form-control mb-4 col-12" placeholder="Description">
                <button type="submit" class="btn btn-success col-6">
                    <span th:text="${task.id} ? 'Update task' : 'Add task'"></span>
                </button>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>